.User {
  display: flex;
  align-items: center;

  &__names {
    display: flex;
    flex-direction: column;
    margin-left: 2.2rem;
  }

  &__link {
    margin-left: auto;
    color: #0095f6 !important;
    font-weight: bold;
  }
}
