.SocialLink {
  display: flex;
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: bold;
  color: #385185;
  display: inline-block;
  &__icon {
    width: 100%;
    max-width: 1.6rem;
    object-fit: contain;
    margin-right: 0.9rem;
  }
}
